<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cukrászda</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css" th:href="@{main.css}">

</head>
<body>
<header>
    <h1>Seft Cukrászda</h1>
    <p class="motto">„Süti nélkül nincs seft”</p>
</header>

<nav>
    <ul>
        <li class="navrow"><a th:href="@{/main}">Étlap</a></li>
        <li class="navrow"><a th:href="@{/contact}">Kapcsolat</a></li>
        <li>
            <form action="/logout" method="post">
                <button type="submit" class="logout">Kijelentkezés</button>
            </form>
        </li>
    </ul>
</nav>
<main>
    <div class="container">
        <div class="message-row">
            <div>
                <strong>USERNAME</strong> - TITLE
            </div>
            <div>
                DATE
                <button class="toggle-button" onclick="toggleMessage('message1')">V</button>
            </div>
        </div>
        <div id="message1" class="message-content">
            test message
        </div>
    </div>
    <script>
        async function loadMessage() {
            try {
                const response = await fetch('/api/message');

                const messageItems = await response.json();

                console.log(messageItems)

            } catch (error) {
                console.error('Error fetching cookies', error);
            }
        }

        window.onload = loadMessage;


    </script>
</main>


<script>
    function toggleMessage(messageId) {
        const messageContent = document.getElementById(messageId);
        if (messageContent.style.display === 'none' || messageContent.style.display === '') {
            messageContent.style.display = 'block';
        } else {
            messageContent.style.display = 'none';
        }
    }
</script>
</body>
</html>