<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cukrászda</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css" th:href="@{style.css}">
</head>
<body>
<header>
    <h1>Seft Cukrászda</h1>
    <p class="motto">„Süti nélkül nincs seft”</p>
</header>

<main>
    <section class="content">
        <div class="image-grid">
            <div class="img-box"><img src="/image/inside.png" alt="inside"></div>
            <div class="img-box"><img src="/image/cake.png" alt="cake"></div>
            <div class="img-box"><img src="/image/macaron.png" alt="macaron"></div>
            <div class="img-box"><img src="/image/outside.png" alt="outside"></div>
        </div>

        <div class="text-content">
            <p>A <span class="seftcukraszda">Seft Cukrászda</span> nem csak egy hely, ahol sütiket lehet kapni, hanem egy igazi édes menedék azok számára, akik a kivételes minőségre, prémium alapanyagokra és luxus élményre vágynak. Cukrászdánk híre messze földön elterjedt, nem csupán a varázslatos süteményeink miatt, hanem azért is, mert nálunk minden apró részlet tökéletesen kidolgozott – a látvány, az ízek, és a kiszolgálás egyaránt.</p>

             <p>   Mesteri cukrászaink olyan tudással rendelkeznek, amit generációkon át örökítettek. Nálunk minden egyes sütemény mesterműként készül el, gondosan válogatott alapanyagokból. A legjobb belga csokoládé, friss gyümölcsök, és a világ minden tájáról érkező különlegességek adják süteményeink páratlan ízét és állagát.</p>

               <p> A <span class="seftcukraszda">Seft Cukrászda</span> luxus megjelenése önmagában is egy élmény, amely minden betérőt lenyűgöz. A modern és elegáns enteriőr, a csillogó vitrinek és a gondosan elrendezett édességek mind azt az érzést keltik, hogy egy különleges világba léptél. A kínálatunk minden igényt kielégít: legyen szó klasszikus tortákról, mennyei macaronokról, kézműves csokoládékról vagy egyedi különlegességekről, nálunk minden megtalálható, amit egy édességrajongó megálmodhat.</p>

               <p> Az emberek sorban állnak, hogy megtapasztalhassák a <span class="seftcukraszda">Seft Cukrászda</span> élményét – hiszen itt nem csak süteményeket vásárolsz, hanem egy életre szóló emléket is. Látogass el hozzánk, és győződj meg róla te is: <span id="seftmotto">„süti nélkül nincs seft”</span>!.</p>
        </div>
        <div class="button-content">
            <a href="/login"><button id="login-btn">BEJELENTKEZEK</button></a>
            <a href="/registration"><button id="register-btn">REGISZTRÁLOK</button></a>
        </div>
    </section>




    <footer>
        <a href="#" class="contact-link">Kapcsolat</a>
    </footer>
</main>
</body>
</html>