<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cukrászda</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css" th:href="@{main.css}">
</head>
<body>
    <header>
        <h1>Seft Cukrászda</h1>
        <p class="motto">„Süti nélkül nincs seft”</p>
    </header>

    <nav>
        <ul>
            <li class="navrow">Étlap</li>
            <li class="navrow"><a th:href="@{/contact}">Kapcsolat</a></li>
            <li>
                <form action="/logout" method="post">
                    <button type="submit" class="logout">Kijelentkezés</button>
                </form>
            </li>
        </ul>
    </nav>
    <main class="buttons-and-items">
        <section class="filter-buttons">
            <h1>Típusok</h1>
            <hr>
            <div class="buttons">
                <button class="filter-button" data-type="all">Összes</button> <br>
                <button class="filter-button" data-type="vegyes">Vegyes</button> <br>
                <button class="filter-button" data-type="sós">Sós teasütemény</button> <br>
                <button class="filter-button" data-type="édes">Édes teasütemény</button> <br>
                <button class="filter-button" data-type="tejszínes">Tejszínes sütemény</button> <br>
                <button class="filter-button" data-type="bejgli">Bejgli</button> <br>
                <button class="filter-button" data-type="torta">Torta</button> <br>
                <button class="filter-button" data-type="különlegs">Különleges torta</button> <br>
                <button class="filter-button" data-type="tortaszelet">Tortaszelet</button> <br>
                <button class="filter-button" data-type="pite">Pite</button> <br>
                <button class="filter-button" data-type="krémes">Krémes</button> <br>
            </div>
        </section>
        <section class="menu">
            <script>
                async function loadMenu() {
                    try {
                        const response = await fetch('/api/menu');

                        const cookieItems = await response.json();

                        const menuList = document.getElementsByClassName('menu')[0];
                        menuList.innerHTML = '';



                        cookieItems.forEach(item => {
                            const div = document.createElement('div');
                            div.classList.add('item', item.type.split(' ')[0]);

                            let output_free = item.type_free ? item.type_free : 'X';

                            div.innerHTML = `
                                    <div class="item-info">
                                        <h1>${item.name}</h1>
                                        <h3>${item.price}Ft/${item.unit}</h3>
                                    </div>
                                    <hr>
                                    <div class="item-misc">
                                        <div class="type-name">
                                          <h4>Típus</h4>
                                          <p>${item.type}</p>
                                        </div>
                                        <div class="is-awarded">
                                          <h4>Nyert díjat?</h4>
                                          <p>${item.awarded ? 'Igen' : 'Nem'}</p>
                                        </div>
                                        <div class="is-free">
                                           <h4>Mentesség</h4>
                                           <p>${output_free}</p>
                                        </div>

                                    </div>`

                            menuList.appendChild(div);
                        })
                    } catch (error) {
                        console.error('Error fetching cookies', error);
                    }
                }

                window.onload = loadMenu;


            </script>
        </section>
    </main>


    <script src="../static/togglecookie.js" th:src="@{togglecookie.js}"></script>
</body>
</html>