<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Cukrászda</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css" th:href="@{main.css}">
</head>
<body>
    <header>
        <h1>Seft Cukrászda</h1>
        <p class="motto">„Süti nélkül nincs seft”</p>
    </header>

    <nav>
        <ul>
            <li class="navrow">Étlap</li>
            <li class="nawrow">Kapcsolat</li>
            <li>
                <form action="/logout" method="post">
                    <button type="submit" class="logout">Kijelentkezés</button>
                </form>
            </li>
        </ul>
    </nav>
    <main>
        <section class="menu">
            <div class="item">
                <p>Süti neve</p>
                <p>Ára - unit</p>
                <p>Típusa</p>
                <p>Nyerte-e</p>
                <p>Mentesség</p>
            </div>
        </section>
    </main>
</body>
</html>